<a href="https://colab.research.google.com/github/ukerahma/Project-DPhi/blob/main/Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [4]:
T = ('python',)*5
print(T)

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [5]:
var = str(input())
even_invar = []
for i in range(len(var)):
  if i%2 == 0 :
    even_invar.append(var[i])

even_intuple = tuple(even_invar)
print(even_intuple)

python
('p', 't', 'o')

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [6]:
elements = [5, 7, 4, 9, 2]
average = 0
for i in elements:
  average +=i

average = average/len(elements)
print(average)

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [9]:
def is_leap(year):
  if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    return print(year ,"is leap year")
  else:
    return print(year ,"is not leap year")

year = int(input())
is_leap(year)

2022
2022 is not leap year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [11]:
I = [21, 6, 12, 57, 35, 61]
I_sort = sorted(I)
I_sort.remove(I_sort[0])
secmin = min(I_sort)
I_sort.remove(I_sort[-1])
secmax = max(I_sort)
sum_secmaxmin = secmax + secmin
print(sum_secmaxmin)

69

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.